BackEnd/HELP.md
BackEnd/target/classes
BackEnd/target/generated*
BackEnd/target/maven*
BackEnd/target/surefire*
BackEnd/target/test-classes*
BackEnd/!.mvn/wrapper/maven-wrapper.jar
BackEnd/!**/src/main/**/target/
BackEnd/!**/src/test/**/target/

### STS ###
BackEnd/.apt_generated
BackEnd/.classpath
BackEnd/.factorypath
BackEnd/.project
BackEnd/.settings
BackEnd/.springBeans
BackEnd/.sts4-cache

### IntelliJ IDEA ###
BackEnd/.idea
BackEnd/*.iws
BackEnd/*.iml
BackEnd/*.ipr

### NetBeans ###
/BackEnd/nbproject/private/
/BackEnd/nbbuild/
/BackEnd/dist/
/BackEnd/nbdist/
/BackEnd/.nb-gradle/
/BackEndbuild/
/BackEnd!**/src/main/**/build/
/BackEnd!**/src/test/**/build/

### VS Code ###
.vscode/

### Data Base ###
mariadb/data

### Envariment ###
.env